################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Services/Review/Review.API/appsettings.Development.json
/Services/Post/Post.API/appsettings.Development.json
/ApiGateways/Web.API/appsettings.Development.json
